/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid black;
  border-radius: 50%;
  border-top: 5px solid black;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

p {
  margin-block-end: 0;
  letter-spacing: 2px;
}

h1 {
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 18px;
}

h2 {
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 14px;
}

h3 {
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 12px;
}

body {
  margin: 0;
  height: 100%;
}

#body-wrapper {
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
}

.notActive {
  -webkit-animation: slide-out-right 1s ease-out both;
  animation: slide-out-right 1s ease-out both;
}

header {
  height: 8vh;
  z-index: 2;
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-animation: slide-in-top 1s ease-out 0.5s both;
  animation: slide-in-top 1s ease-out 0.5s both;
}

.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 200px;
  z-index: 10;
}

.burgermenu {
  position: absolute;
  left: 2%;
  color: black;
}

.shoppingbasket {
  position: absolute;
  right: 2%;
  width: 25px;
}

#notification {
  background-color: red;
  width: 13px;
  height: 13px;
  right: 1.5%;
  top: 25%;
  border-radius: 50%;
  position: absolute;
  display: none;
}

.overlay {
  height: 100vh;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #F4F4F4;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding-left: 10%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay-content>a {
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 16px;
  line-height: 45px;
  opacity: 0;
}

.overlay-content>a.is-visible {
  opacity: 1;
  -webkit-animation: slide-in-left 1.5s ease-out both;
  animation: slide-in-left 1.5s ease-out both;
}

.overlay a:hover, .overlay a:focus {
  color: #707070;
}

.overlay .closebtn {
  position: absolute;
  top: -1%;
  left: 1%;
  font-size: 40px;
  font-weight: 400;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  animation: fadeIn 0.4s;
  z-index: 1;
  width: 100%;
}

/* ---------- forside styling ---------- */
.mobile-front-img {
  width: auto;
  height: 100vh;
  outline: 30px solid white;
  outline-offset: -10px;
  display: block;
  margin: 0 auto;
  -webkit-animation: fade-in 2s ease-out both;
  animation: fade-in 2s ease-out both;
}

.desktop-front-img {
  display: none;
  margin: 0 auto;
  -webkit-animation: fade-in 2s ease-out both;
  animation: fade-in 2s ease-out both;
}

.about-content {
  padding: 10% 5%;
  background-color: #F4F4F4;
  margin-top: 5%;
  line-height: 1.8em;
  opacity: 0;
}

.about-content.is-visible {
  -webkit-animation: fade-in 2s ease-out both;
  animation: fade-in 2s ease-out both;
  opacity: 1;
}

#models, #extras {
  padding-bottom: 10%;
}

#models>div, #extras>div {
  padding-top: 4%;
}

/* ---------- cykelmodeller styling ---------- */
#cykelmodeller, #ekstraudstyr {
  background-color: #F4F4F4;
  padding-top: 20%;
}

.bikes-img {
  width: 80%;
  background-color: white;
}

#cykelmodeller>.returnBtn {
  background-color: #F4F4F4;
}

#cykelmodeller>h1 {
  margin-top: 15%;
}

/* ---------- bisou styling ---------- */
#bisou {
  padding-top: 20%;
}

.returnBtn {
  text-decoration: none;
  color: black;
  position: fixed;
  left: 2%;
  font-weight: 400;
  background-color: white;
  z-index: 1;
  letter-spacing: 2px;
  font-size: 10px;
}

.bikemodel-slider {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
  opacity: 0;
}

.bisou-slider {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}

.bikemodel-slider.is-visible {
  opacity: 1;
  -webkit-animation: fade-in 2s ease-out both;
  animation: fade-in 2s ease-out both;
}

.mySlides, .frontpageSlides {
  display: none
}

.mySlides>img, .frontpageSlides>img {
  background-color: white;
  width: 80%;
  -webkit-animation: slide-in-left 1s ease-out both;
  animation: slide-in-left 1s ease-out both;
}

/* Slideshow container */
.slideshow-container, .frontpage-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot-container-mobile {
  display: inline-block;
  margin: 20px 0;
}

.dot-container-desktop {
  display: none;
}

.frontpageDot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.frontpageDotActive {
  height: 30px;
  border-radius: 25px;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  height: 30px;
  border-radius: 25px;
}

.show-all-btn {
  width: 80%;
  height: 55px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
}

.show-all-btn:hover {
  background-color: black;
  color: white;
}

.dot-container {
  margin-top: 20px;
}

.blue-grey {
  background-color: #017196;
}

.blue-jade {
  background-color: #95c2be;
}

.ivory {
  background-color: #ccb6aa;
}

.moss-green {
  background-color: #485a45;
}

.red {
  background-color: #fb3747;
}

.saffron {
  background-color: #fcaf2e;
}

.vincent-blue {
  background-color: #064363;
}

.willow {
  background-color: #3e3a3b;
}

.bike-information {
  background-color: #f4f4f4;
  width: 100%;
  padding: 2% 0 10% 0;
}

#add-to-basket {
  background-color: white;
  border: 1px solid black;
  width: 80%;
  height: 50px;
  letter-spacing: 2px;
  font-weight: 700;
}

#add-to-basket:hover {
  background-color: black;
  color: white;
}

#added {
  background-color: black;
  border: 1px solid black;
  width: 80%;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  letter-spacing: 2px;
  font-weight: 700;
}

#added>img {
  padding-left: 5%;
}

.specification {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.specification>article>h2 {
  padding-top: 8%;
}

.specification>article>p>a {
  color: black;
  font-weight: 400;
}

/* ---------- footer styling ---------- */
footer {
  height: 100%;
  background: #DBDBDB;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

#footercontent>div {
  margin: 15% 0%;
}

#footercontent>div>img {
  width: 90%;
}

#footercontent>div>h3>a {
  color: black;
  text-decoration: none;
}

#map {
  width: 90%;
  height: 40%;
  position: relative;
  display: flex;
  margin: 0 auto;
  z-index: 1;
}

.marker {
  background-image: url(../img/location.png);
  background-size: cover;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

/* ---------- animations ---------- */
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 600px) {
  header {
    height: 6vh;
  }

  .mobile-front-img {
    display: none;
  }

  .desktop-front-img {
    display: block;
    width: 90%;
    padding-top: 10%;
  }

  .about-content {
    padding: 5% 5%;
  }

  .bisou-slider, .bikemodel-slider {
    padding: 5% 0;
  }

  #models>div>h2, #ekstraudstyr>div>h2 {
    padding-top: 5%;
  }

  #models, #extras {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #models>div, #extras>div {
    width: 40%;
  }

  #models>div, #extras>div {
    padding-top: 1%;
  }

  .bikes-img {
    width: 95%;
  }

  #cykelmodeller, #ekstraudstyr {
    padding-top: 15%;
  }

  #cykelmodeller>h1 {
    margin-top: 2%;
  }

  #bisou {
    padding-top: 12%;
  }

  .prev {
    left: 1%;
  }

  .next {
    right: 1%;
  }

  footer {
    height: 60%;
    padding-bottom: 0%;
  }

  #map {
    height: 60%;
  }

  #footercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3%;
  }

  #footercontent>div {
    margin: 3%;
    width: 25%;
  }

  #footercontent>div>p {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 8vh;
  }

  .desktop-front-img {
    padding-top: 0;
    height: auto;
    width: 90%;
  }

  .about-content>p {
    width: 60%;
    margin: 0 auto;
  }

  .slideshow-container, .frontpage-slideshow-container {
    max-width: 58%;
  }

  .bikemodel-slider>h1 {
    padding-bottom: 1.5%;
  }

  .frontpageSlides>h2 {
    display: none;
  }

  .show-all-btn {
    width: 30%;
    height: 40px;
    font-size: 12px;
    margin-top: 1%;
  }

  .dot-container-mobile {
    display: none;
  }

  .dot-container-desktop {
    display: block;
  }

  .frontpageDot {
    background-color: transparent;
    width: auto;
    margin: 0 15px;
    font-size: 12px;
    letter-spacing: 3px;
  }

  .frontpageDotActive {
    font-weight: 700;
  }

  #models>div, #extras>div {
    width: 30%;
  }

  .bikes-img {
    width: 97%;
  }

  #cykelmodeller, #ekstraudstyr, #bisou {
    padding-top: 7%;
  }

  #models>div, #extras>div {
    padding-top: 1%;
  }

  .bisou-slider {
    padding: 0% 0 3% 0;
  }

  .bike-information {
    display: flex;
    flex-direction: row-reverse;
    padding: 3% 0 3% 0;
  }

  .desktop-right-align {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: flex-end;
    margin: 0 3% 0 0;
  }

  .dot-container-models>.modelDot {
    width: auto;
    margin: 0 15px;
    font-size: 12px;
    letter-spacing: 3px;
  }

  #add-to-basket {
    width: 100%;
  }

  #added {
    width: 100%;
  }

  .specification {
    width: 80%;
    display: flex;
  }

  .spec-part1 {
    width: 65%;
  }

  .spec-part2 {
    width: 35%;
  }

  .specification>article {
    margin: 0 3%;
  }

  .specification>article>h2 {
    padding-top: 0%;
  }

  footer {
    flex-direction: row;
    align-items: center;
    height: 40%;
  }

  #footercontent {
    width: 60%;
    padding-top: 0;
  }

  #footercontent>h2 {
    margin-top: 0;
  }

  #footercontent>div {
    margin: 2.5%;
    width: auto;
    text-align: left;
  }

  #map {
    width: 35%;
    height: 80%;
  }
}